@font-face {
    font-family: "Poppins", sans-serif;
    src: url(assets/fonts/Poppins/Poppins-Thin.ttf);
    font-weight: 100;
}

@font-face {
    font-family: "Poppins", sans-serif;
    src: url(assets/fonts/Poppins/Poppins-ExtraLight.ttf);
    font-weight: 200;
}

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    margin: 0;
    padding: 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;

    font-family: "Poppins", sans-serif;
}

.container {
    max-width: 1440px;
    margin: 0 auto;
}

.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;

    list-style: none;
}

.nav-link {
    padding: 0 20px;
    line-height: 50px;

    text-decoration: none;
}

.nav-link-footer {
    padding: 0 18px;
    line-height: 50px;

    text-decoration: none;
}

.header {
    border: 1px solid green;
}

.header-profile {

}

.container-profile {
    display: flex;
    justify-content: space-around;
    align-items: center;

}

.profile-pic {
    border-radius: 50%;
    box-shadow: 5px 5px 10px;
}

.profile-name {
    text-align: center;
    padding: 40px;

}

.profile-header {
    /* border-bottom: 1px solid palevioletred; */
}

.main {
    border: 1px solid palevioletred;
}

.container-main {
    display: flex;
    flex-wrap: wrap;
}

.container-footer {
    display: flex;
    justify-content: space-between;
}

.container-footer-nav {
    display: flex;
}

.section {
    width: 50%;
    border: solid 1px red;
}

.footer {
    border: 1px solid green;
}